<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
    <add key="ConString" value="Server=127.0.0.1;Database=VILMS;Uid=VILMS;Pwd=VILMS@123;Charset=utf8;" />
    <add key="Typekey" value="Type "/>
    <add key="Spacekey" value="Spacebar "/>
    <add key="wrongkey" value="Wrong key "/>
    <add key="Typedkey" value="Typed "/>
    <add key ="Correctkey" value="Correct "/>
  </appSettings>
</configuration>